<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>Lucas_Cristovam-ProjetoWeb</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>br.edu.ifsudestemg.barbacena.servlet.HelloWorld</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>addStudent</servlet-name>
		<servlet-class>br.edu.ifsudestemg.barbacena.servlet.AddStudentServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>addProfessor</servlet-name>
		<servlet-class>br.edu.ifsudestemg.barbacena.servlet.AddProfessorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/ola</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addStudent</servlet-name>
		<url-pattern>/adicionaAluno</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addProfessor</servlet-name>
		<url-pattern>/adicionaProfessor</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/erro.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>